In [1]:
names = ["john","paul","ringo","george"]

In [2]:
for i in names:
    print (i)
    if i == "ringo":
        break

john
paul
ringo

In [3]:
#loop macht 3er Schritte
for x in range (1,21,3):
    print (x)

1
4
7
10
13
16
19

In [4]:
#break befehl unterbricht loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [5]:
#A nested loop is a loop inside a loop.
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [6]:
#continue überspringt wert
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [7]:
#create list of 80 random elements with values 0-100
import random
sample_list_1=(random.sample(range(101), k=80))
print (sample_list_1)

[71, 50, 33, 38, 75, 87, 12, 97, 51, 64, 54, 93, 90, 48, 43, 34, 22, 92, 39, 30, 9, 80, 96, 15, 40, 95, 28, 24, 63, 26, 70, 6, 68, 58, 77, 36, 73, 7, 57, 10, 0, 14, 1, 4, 89, 52, 5, 19, 23, 31, 11, 44, 65, 16, 76, 49, 46, 29, 69, 83, 94, 45, 91, 59, 86, 100, 41, 88, 27, 85, 98, 8, 84, 99, 74, 20, 56, 21, 81, 61]

In [8]:
import random
random.randint(10, 11)

11

In [9]:
def hello_func():
    print("hello Function")

hello_func()
hello_func()
hello_func()
hello_func()

hello Function
hello Function
hello Function
hello Function

In [10]:
import random

def hello_func(greeting = "hi", name = "you") :
    return "{}, {}".format(greeting, name).upper()
    
print(hello_func())

HI, YOU

In [11]:
def student_info(*args, **kwargs):
    print(args)
    print(kwarg)

In [12]:
#dictonary key value pair
dict = {"cat": "meow", "cow":"mooh", "dog":"bark"}
x = dict["cat"]
print(x)

dict["bird"] ="zirp"
print(dict)

for k,v in dict.items():
    print(k+": "+v)

meow
{'cat': 'meow', 'cow': 'mooh', 'dog': 'bark', 'bird': 'zirp'}
cat: meow
cow: mooh
dog: bark
bird: zirp

In [13]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = ", ".join(myDict.values())

print(x)

John, Norway

In [14]:
import numpy as np

In [15]:
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

In [16]:
lst_lst = [[1,2,3],[4,5,6],[7,8,9]]
d = np.array(lst_lst)
print(d)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [17]:
a=np.zeros(3)
a

array([0., 0., 0.])

In [18]:
message = 'How does this work?'
translated = '' #cipher text is stored in this variable
i = len(message) - 1

while i >= 0:
   translated = translated + message[i]
   i = i - 1
print('The cipher text is : ', translated)

The cipher text is :  ?krow siht seod woH

In [19]:
def encrypt(text,s):
result = ""
   # transverse the plain text
   for i in range(len(text)):
      char = text[i]
      # Encrypt uppercase characters in plain text
      
      if (char.isupper()):
         result += chr((ord(char) + s-65) % 26 + 65)
      # Encrypt lowercase characters in plain text
      else:
            result += chr((ord(char) + s - 97) % 26 + 97)
      return result
#check the above function
text = "CEASER CIPHER DEMO"
s = 4

print "Plain Text : " + text
print "Shift pattern : " + str(s)
print "Cipher: " + encrypt(text,s)

IndentationError: expected an indented block (<ipython-input-19-77fc53ce950e>, line 2)

In [ ]:
#list comprehnsion
square=
print(square)

In [ ]:
import numpy as np

In [ ]:
a=np.random.random((2,3))

In [ ]:
a

In [ ]:
a.shape

In [ ]:
a.size #two by three items is 6

In [ ]:
a[0, 0] # element links oben

In [ ]:
a [:,0] #hole first column

In [ ]:
a[0,:] #hole first row

In [ ]:
np.random.random((2,3,5)) #3 dimensons: 2 depth / 3 columns / 5 rows

In [ ]:
b=np.random.random((2,3,5))
b

In [ ]:
b*10 #smart way to have random numbers between 0 and 10 - 10 not included

In [ ]:
b[0,0,0]

In [ ]:
b[0,2,:]#vorderste Matrix, komplette 3. Zeile,

In [ ]:
b[0,:,2]#vorderste Matrix komplette 3. Spalte

In [ ]:
#mutabe ich kann eine einzelne Zeile ändern
a[0,0,0]=5
a

In [ ]:
#insert list into array
mylist=['cat','dog']
np.array(mylist)

In [ ]:
#DIFFRENCE nump.add" vs "+"

In [ ]:
first=[1,2,3]
second=[4,5,6]
print(first+second) #joins two lists
print (np.add(first,second))#addiert Element für Element

In [ ]:
import numpy as np

In [ ]:
atoms = np.array([[0., 0., 0.],
                  [3., 3., 3.],
                  [2., 8., 7.]]
                 )

In [ ]:
atoms

In [ ]:
masses = np.array([1., 1., 5.])

In [ ]:
atoms = atoms + [1.,2.,3.]
atoms

In [ ]:
riddle = np.array([[ 533.,  502.,  530.,  591.,  552.,  563.,  508.,  581.,  570.,  557.,  510.,  303.,  355.,  389.,  306.,  598.,  540.,  526.,  585.,  599.,  505.,  547.,  569.,  566.,  580.,  564.,  531.,  573.],
       [ 512.,  522.,  540.,  510.,  541.,  544.,  521.,  567.,  324.,  388.,  384.,  495.,  457.,  469.,  485.,  300.,  426.,  410.,  584.,  545.,  518.,  591.,  518.,  536.,  508.,  556.,  595.,  560.],
       [ 545.,  584.,  521.,  552.,  589.,  583.,  314.,  301.,  461.,  473.,  436.,  469.,  478.,  440.,  449.,  431.,  461.,  461.,  322.,  319.,  592.,  522.,  554.,  569.,  593.,  502.,  551.,  514.],
       [ 576.,  517.,  538.,  588.,  550.,  331.,  529.,  532.,  470.,  469.,  471.,  461.,  426.,  400.,  450.,  462.,  422.,  430.,  454.,  487.,  398.,  529.,  584.,  567.,  594.,  522.,  530.,  506.],
       [ 542.,  582.,  520.,  525.,  319.,  575.,  543.,  481.,  413.,  474.,  408.,  446.,  433.,  465.,  409.,  448.,  407.,  401.,  485.,  434.,  403.,  360.,  525.,  523.,  581.,  528.,  555.,  567.],
       [ 533.,  588.,  569.,  383.,  581.,  541.,  558.,  448.,  411.,  425.,  403.,  463.,  423.,  457.,  493.,  472.,  460.,  470.,  444.,  418.,  498.,  426.,  340.,  577.,  556.,  544.,  560.,  589.],
       [ 576.,  552.,  550.,  365.,  587.,  543.,  575.,  586.,  425.,  430.,  493.,  488.,  446.,  460.,  447.,  493.,  404.,  414.,  444.,  430.,  417.,  449.,  317.,  538.,  559.,  596.,  513.,  553.],
       [ 567.,  574.,  374.,  513.,  578.,  593.,  539.,  555.,  512.,  407.,  435.,  483.,  458.,  456.,  462.,  433.,  497.,  465.,  459.,  400.,  445.,  436.,  456.,  356.,  547.,  526.,  508.,  573.],
       [ 537.,  515.,  398.,  576.,  525.,  530.,  529.,  584.,  544.,  513.,  450.,  420.,  426.,  489.,  441.,  432.,  427.,  444.,  482.,  415.,  486.,  472.,  466.,  320.,  501.,  535.,  592.,  580.],
       [ 539.,  542.,  304.,  522.,  565.,  500.,  559.,  530.,  554.,  520.,  526.,  594.,  423.,  472.,  477.,  468.,  428.,  374.,  343.,  332.,  379.,  419.,  477.,  354.,  557.,  554.,  554.,  550.],
       [ 544.,  383.,  567.,  520.,  575.,  372.,  393.,  528.,  546.,  571.,  531.,  538.,  548.,  540.,  566.,  355.,  387.,  407.,  471.,  332.,  352.,  347.,  369.,  494.,  394.,  566.,  590.,  521.],
       [ 590.,  326.,  524.,  327.,  357.,  501.,  559.,  348.,  566.,  516.,  522.,  505.,  502.,  501.,  363.,  445.,  442.,  398.,  329.,  548.,  591.,  512.,  595.,  358.,  344.,  571.,  519.,  543.],
       [ 571.,  362.,  322.,  544.,  251.,  223.,  523.,  544.,  355.,  542.,  597.,  587.,  571.,  322.,  446.,  377.,  343.,  108.,  509.,  573.,  136.,  584.,  672.,  367.,  349.,  564.,  543.,  520.],
       [ 585.,  312.,  225.,  228.,  435.,  484.,  215.,  536.,  336.,  522.,  529.,  557.,  375.,  455.,  350.,  371.,  108.,  523.,  507.,  218.,  298.,  221.,  292.,  244.,  242.,  294.,  556.,  573.],
       [ 552.,  232.,  444.,  458.,  454.,  435.,  234.,  564.,  503.,  365.,  589.,  555.,  303.,  394.,  582.,  364.,  507.,  258.,  299.,  258.,  219.,  291.,  269.,  269.,  243.,  230.,  281.,  536.],
       [ 279.,  522.,  453.,  406.,  419.,  487.,  444.,  514.,  283.,  398.,  521.,  352.,  487.,  309.,  347.,  108.,  214.,  236.,  602.,  261.,  221.,  200.,  292.,  235.,  261.,  236.,  292.,  540.],
       [ 227.,  460.,  430.,  405.,  451.,  108.,  544.,  454.,  409.,  379.,  505.,  595.,  314.,  317.,  325.,  108.,  236.,  279.,  270.,  234.,  226.,  553.,  215.,  219.,  246.,  622.,  540.,  577.],
       [ 595.,  218.,  209.,  456.,  108.,  584.,  549.,  576.,  450.,  401.,  491.,  515.,  321.,  654.,  697.,  267.,  276.,  249.,  531.,  651.,  606.,  558.,  604.,  693.,  594.,  570.,  560.,  523.],
       [ 524.,  564.,  433.,  400.,  108.,  516.,  575.,  413.,  662.,  648.,  666.,  470.,  579.,  488.,  641.,  210.,  204.,  553.,  541.,  648.,  238.,  656.,  230.,  642.,  549.,  599.,  598.,  500.],
       [ 524.,  596.,  549.,  439.,  108.,  108.,  437.,  691.,  693.,  671.,  659.,  628.,  420.,  494.,  581.,  282.,  246.,  506.,  611.,  612.,  227.,  670.,  275.,  691.,  634.,  461.,  597.,  553.],
       [ 573.,  577.,  595.,  436.,  468.,  108.,  479.,  679.,  686.,  686.,  678.,  627.,  435.,  586.,  515.,  297.,  264.,  263.,  679.,  648.,  521.,  570.,  609.,  601.,  687.,  481.,  574.,  509.],
       [ 501.,  544.,  508.,  539.,  430.,  499.,  108.,  474.,  656.,  669.,  601.,  462.,  108.,  108.,  108.,  502.,  232.,  685.,  687.,  201.,  437.,  569.,  549.,  576.,  558.,  409.,  516.,  584.],
       [ 527.,  515.,  584.,  581.,  505.,  411.,  462.,  489.,  465.,  454.,  406.,  108.,  108.,  347.,  307.,  262.,  576.,  580.,  282.,  262.,  240.,  295.,  276.,  210.,  214.,  280.,  277.,  509.],
       [ 537.,  562.,  565.,  573.,  559.,  500.,  466.,  464.,  410.,  404.,  108.,  108.,  108.,  108.,  108.,  287.,  543.,  521.,  686.,  659.,  261.,  278.,  266.,  276.,  293.,  288.,  554.,  541.],
       [ 586.,  596.,  509.,  579.,  530.,  508.,  579.,  480.,  439.,  629.,  631.,  458.,  488.,  416.,  429.,  477.,  487.,  535.,  564.,  546.,  538.,  529.,  596.,  412.,  500.,  559.,  508.,  596.],
       [ 536.,  578.,  502.,  522.,  531.,  525.,  587.,  580.,  501.,  487.,  439.,  432.,  478.,  443.,  405.,  548.,  533.,  439.,  486.,  415.,  476.,  417.,  472.,  541.,  528.,  595.,  531.,  549.],
       [ 548.,  562.,  550.,  561.,  584.,  598.,  572.,  584.,  581.,  544.,  577.,  591.,  548.,  530.,  512.,  552.,  587.,  511.,  577.,  565.,  591.,  560.,  565.,  595.,  544.,  556.,  585.,  520.]])

In [ ]:
riddle

In [ ]:
print(riddle.shape)
print(riddle.size)

In [ ]:
riddle[:,-1]

In [ ]:
print(riddle)

In [ ]:

for x in len(riddle): 
    if riddle[x] >=200 and  riddle[x]<= 300:
        riddle [x]=0
    elif riddle[x]>=300 and  riddle[x]<=400:
        riddle [x]=40
    elif riddle[x]>=400 and  riddle[x]<=500:
        riddle [x]=156
    elif riddle[x]>=500 and  riddle[x]<=600:
        riddle [x]=220
riddle

In [ ]:
#PANDAS
#Series vs Data Frame
import pandas as pd
import numpy as np

In [ ]:
#SERIES
a = pd.Series(np.random.random(10))
a
#generated an indexed array of random numbers

In [ ]:
a = a*10
a

In [ ]:
a = pd.Series(np.random.random(10)),index=['a','b','c','d','e','f','g','h','i','j']

In [ ]:
#DATAFRAME

colnames = ['Column1','Column2','Column3','Column4','Column5']

df = pd.DataFrame(np.random.random((10,5)), columns=colnames)

df

In [ ]:
np.random.random((10,10))

In [ ]:
#TURN INTO DATAFRAME
df=pd.DataFrame(np.random.random((10,10)))
print(df)
#bekommt row and colums index

In [ ]:
colnames=[]
for i in range (len(df)):
              colnames.append('Columns' + str (i))

In [ ]:
df_col=pd.DataFrame(np.random.random((10,10)), columns=colnames)
print(df_col)

In [ ]:
#After naming colums I can use thm to address the data
df_col['Columns0']

In [ ]:
#COMMAND HEAD TAIL
df_col.head()
#default is 5 first rows

In [ ]:
df_col.head(2) #erste 2 Reihen

In [ ]:
df_col.tail(2) #letzten 2 reihen

In [ ]:
df_col['Columns1'].head(3)
#erste 3 reihen der Column1

In [ ]:
df_col['Columns2'][9]

In [ ]:
# Converting Other Data Structures to DataFrames
lst = [208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000, 129900, 118000]

price_df = pd.DataFrame(lst, columns=['SalePrice'])

price_df

In [ ]:
#TURN DICT IN TO DATAFRAME

house_dict = {'Baker House': [7420, 'BrkSide', 1939, 5, 118000],
              'Beazley House': [14115, 'Mitchel', 1993, 5, 143000],
              'Dominguez House': [14260, 'NoRidge', 2000, 8, 250000],
              'Hamilton House': [6120, 'OldTown', 1931, 7, 129900],
              'James House': [11250, 'CollgCr', 2001, 7, 223500],
              'Martinez House': [9600, 'Veenker', 1976, 6, 181500],
              'Roberts House': [9550, 'Crawfor', 1915, 7, 140000],
              'Smith House': [8450, 'CollgCr', 2003, 7, 208500],
              'Snyder House': [10084, 'Somerst', 2004, 8, 307000],
              'Zuckerman House': [10382, 'NWAmes', 1973, 7, 200000]}
pd.DataFrame(house_dict)

In [ ]:
pd.DataFrame.from_dict(house_dict, orient='index')

In [ ]:
df_col.mean()

In [ ]:
df_col.mean(axis=0)#spalte

In [ ]:
df_col.mean(axis=1) #zeile

In [ ]:
#Subsetting and Filtering in Pandas
animals = pd.read_csv('/Users/spitzer/Desktop/IronHack/SleepInMammals.csv')
animals

In [ ]:
animals.index.values

In [ ]:
#Selecting Columns
animals['Body Weight (kg)']

In [ ]:
#Selecting Rows
animals[11:20]

In [ ]:
#SUBSETTING USING FUNCTIONS
#.loc is primarily label based. With .loc we perform subsetting using the name of the column
#.iloc is primarily integer based. With .iloc we perform subsetting using the integer position of the column

In [ ]:
animals.iloc[[0,2,4],[0,1]]#Zeilen mit Index 0,2,4 Spalten mit Index 0 und 1

In [ ]:
#FILTERING
animals[animals.Body Weight (kg) < 2]

In [ ]:
df.mean()# dataframe mean of columns

In [ ]:
df.mean(axis=1)# mean of each row of dataframe. axis=1 entspricht rows, axis=0 entspricht columns ist default

In [ ]:
df['Columns0'].mean() #mean nur der 'Column0'

In [ ]:
#ADD COLUMN TO DATAFRAM
df['cat']='kittycat'
df

In [ ]:
df['2* Columns1']=df['Columns1']*2 #creates new column at the end with the values of column 1 multiplied by 2
df

In [ ]:
#'CREAT COLUMN WITH ALL MEANS OF THAT ROW OF ALL COLUMNS'
df['MeanColumns']=df.mean(axis=1)
df

In [23]:
#DATA ANALYSIS
import pandas as pd
animals = pd.read_csv('sleepinmammals.csv')
animals.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0
2,ArcticFox,3385.00,44.5,NaN,NaN,12.5,14.0,60.0
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0

In [24]:
animals[11:21] #rows 11 to 20

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
11,Cow,465.00,423.0,3.2,0.7,3.9,30.0,281.0
12,Deserthedgehog,0.55,2.4,7.6,2.7,10.3,NaN,NaN
13,Donkey,187.10,419.0,NaN,NaN,3.1,40.0,365.0
14,EasternAmericanmole,75.00,1.2,6.3,2.1,8.4,3.5,42.0
15,Echidna,3.00,25.0,8.6,0.0,8.6,50.0,28.0
16,Europeanhedgehog,785.00,3.5,6.6,4.1,10.7,6.0,42.0
17,Galago,0.20,5.0,9.5,1.2,10.7,10.4,120.0
18,Genet,1.41,17.5,4.8,1.3,6.1,34.0,NaN
19,Giantarmadillo,60.00,81.0,12.0,6.1,18.1,7.0,NaN
20,Giraffe,529.00,680.0,NaN,0.3,NaN,28.0,400.0

In [25]:
#LOCATION: loc and iloc
#loc for location iloc for index location, iloc uses location of column by index

In [28]:
#extraction rows 11-20 for the first 3 columns
animals.iloc [11:21,0:3]

                Species  BodyWt  BrainWt
11                  Cow  465.00    423.0
12       Deserthedgehog    0.55      2.4
13               Donkey  187.10    419.0
14  EasternAmericanmole   75.00      1.2
15              Echidna    3.00     25.0
16     Europeanhedgehog  785.00      3.5
17               Galago    0.20      5.0
18                Genet    1.41     17.5
19       Giantarmadillo   60.00     81.0
20              Giraffe  529.00    680.0

In [45]:
animals.loc[11:20,['Species','BrainWt']]

                Species  BrainWt
11                  Cow    423.0
12       Deserthedgehog      2.4
13               Donkey    419.0
14  EasternAmericanmole      1.2
15              Echidna     25.0
16     Europeanhedgehog      3.5
17               Galago      5.0
18                Genet     17.5
19       Giantarmadillo     81.0
20              Giraffe    680.0

In [46]:
animals.loc[11:21,'Species':'Dreaming']

                Species  BodyWt  BrainWt  NonDreaming  Dreaming
11                  Cow  465.00    423.0          3.2       0.7
12       Deserthedgehog    0.55      2.4          7.6       2.7
13               Donkey  187.10    419.0          NaN       NaN
14  EasternAmericanmole   75.00      1.2          6.3       2.1
15              Echidna    3.00     25.0          8.6       0.0
16     Europeanhedgehog  785.00      3.5          6.6       4.1
17               Galago    0.20      5.0          9.5       1.2
18                Genet    1.41     17.5          4.8       1.3
19       Giantarmadillo   60.00     81.0         12.0       6.1
20              Giraffe  529.00    680.0          NaN       0.3
21                 Goat   27.66    115.0          3.3       0.5

In [49]:
#subset datafram by condition
#Getting all the rows where BrainWt <2
animals[animals['BrainWt']<2] #give me all rows where condition is true

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
6,Bigbrownbat,23.00,0.30,15.8,3.9,19.7,19.0,35.0
14,EasternAmericanmole,75.00,1.20,6.3,2.1,8.4,3.5,42.0
22,Goldenhamster,0.12,1.00,11.0,3.4,14.4,3.9,16.0
31,Lessershort-tailedshrew,5.00,0.14,7.7,1.4,9.1,2.6,21.5
32,Littlebrownbat,0.01,0.25,17.9,2.0,19.9,24.0,50.0
36,Mouse,23.00,0.40,11.9,1.3,13.2,3.2,19.0
37,Muskshrew,48.00,0.33,10.8,2.0,12.8,2.0,30.0
47,Rat,0.28,1.90,10.6,2.6,13.2,4.7,21.0
55,Starnosedmole,0.06,1.00,8.1,2.2,10.3,3.5,NaN

In [50]:
#COOLE FUNKTION FÜR DATAFRAME
animals.describe()

,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
count,62.000000,62.000000,48.000000,50.000000,58.000000,58.000000,58.000000
mean,418.231613,283.134194,8.672917,1.972000,10.532759,19.877586,142.353448
std,1211.589440,930.278942,3.666452,1.442651,4.606760,18.206255,146.805039
min,0.010000,0.140000,2.100000,0.000000,2.600000,2.000000,12.000000
25%,1.640000,4.250000,6.250000,0.900000,8.050000,6.625000,35.750000
50%,18.915000,17.250000,8.350000,1.800000,10.450000,15.100000,79.000000
75%,117.500000,166.000000,11.000000,2.550000,13.200000,27.750000,207.500000
max,6654.000000,5712.000000,17.900000,6.600000,19.900000,100.000000,645.000000

In [56]:
#LIST COMPREHENSION
#list 10 bis 20
my_list=[x for x in range (10,21)]
my_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]