In [1]:
names = ["john","paul","ringo","george"]

In [2]:
for i in names:
    print (i)
    if i == "ringo":
        break

john
paul
ringo

In [3]:
#loop macht 3er Schritte
for x in range (1,21,3):
    print (x)

1
4
7
10
13
16
19

In [4]:
#break befehl unterbricht loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [5]:
#A nested loop is a loop inside a loop.
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [6]:
#continue Ã¼berspringt wert
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [7]:
#create list of 80 random elements with values 0-100
import random
sample_list_1=(random.sample(range(101), k=80))
print (sample_list_1)

[71, 50, 33, 38, 75, 87, 12, 97, 51, 64, 54, 93, 90, 48, 43, 34, 22, 92, 39, 30, 9, 80, 96, 15, 40, 95, 28, 24, 63, 26, 70, 6, 68, 58, 77, 36, 73, 7, 57, 10, 0, 14, 1, 4, 89, 52, 5, 19, 23, 31, 11, 44, 65, 16, 76, 49, 46, 29, 69, 83, 94, 45, 91, 59, 86, 100, 41, 88, 27, 85, 98, 8, 84, 99, 74, 20, 56, 21, 81, 61]

In [8]:
import random
random.randint(10, 11)

11

In [9]:
def hello_func():
    print("hello Function")

hello_func()
hello_func()
hello_func()
hello_func()

hello Function
hello Function
hello Function
hello Function

In [10]:
import random

def hello_func(greeting = "hi", name = "you") :
    return "{}, {}".format(greeting, name).upper()
    
print(hello_func())

HI, YOU

In [11]:
def student_info(*args, **kwargs):
    print(args)
    print(kwarg)

In [12]:
#dictonary key value pair
dict = {"cat": "meow", "cow":"mooh", "dog":"bark"}
x = dict["cat"]
print(x)

dict["bird"] ="zirp"
print(dict)

for k,v in dict.items():
    print(k+": "+v)

meow
{'cat': 'meow', 'cow': 'mooh', 'dog': 'bark', 'bird': 'zirp'}
cat: meow
cow: mooh
dog: bark
bird: zirp

In [13]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = ", ".join(myDict.values())

print(x)

John, Norway

In [14]:
import numpy as np

In [15]:
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

In [16]:
lst_lst = [[1,2,3],[4,5,6],[7,8,9]]
d = np.array(lst_lst)
print(d)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [17]:
a=np.zeros(3)
a

array([0., 0., 0.])

In [18]:
message = 'How does this work?'
translated = '' #cipher text is stored in this variable
i = len(message) - 1

while i >= 0:
   translated = translated + message[i]
   i = i - 1
print('The cipher text is : ', translated)

The cipher text is :  ?krow siht seod woH

In [19]:
def encrypt(text,s):
result = ""
   # transverse the plain text
   for i in range(len(text)):
      char = text[i]
      # Encrypt uppercase characters in plain text
      
      if (char.isupper()):
         result += chr((ord(char) + s-65) % 26 + 65)
      # Encrypt lowercase characters in plain text
      else:
            result += chr((ord(char) + s - 97) % 26 + 97)
      return result
#check the above function
text = "CEASER CIPHER DEMO"
s = 4

print "Plain Text : " + text
print "Shift pattern : " + str(s)
print "Cipher: " + encrypt(text,s)

IndentationError: expected an indented block (<ipython-input-19-77fc53ce950e>, line 2)

In [ ]:
#list comprehnsion
square=
print(square)

In [ ]:
import numpy as np

In [ ]:
a=np.random.random((2,3))

In [ ]:
a

In [ ]:
a.shape

In [ ]:
a.size #two by three items is 6

In [ ]:
a[0, 0] # element links oben

In [ ]:
a [:,0] #hole first column

In [ ]:
a[0,:] #hole first row

In [ ]:
np.random.random((2,3,5)) #3 dimensons: 2 depth / 3 columns / 5 rows

In [ ]:
b=np.random.random((2,3,5))
b

In [ ]:
b*10 #smart way to have random numbers between 0 and 10 - 10 not included

In [ ]:
b[0,0,0]

In [ ]:
b[0,2,:]#vorderste Matrix, komplette 3. Zeile,

In [ ]:
b[0,:,2]#vorderste Matrix komplette 3. Spalte

In [ ]:
#mutabe ich kann eine einzelne Zeile Ã¤ndern
a[0,0,0]=5
a

In [ ]:
#insert list into array
mylist=['cat','dog']
np.array(mylist)

In [ ]:
#DIFFRENCE nump.add" vs "+"

In [ ]:
first=[1,2,3]
second=[4,5,6]
print(first+second) #joins two lists
print (np.add(first,second))#addiert Element fÃ¼r Element

In [ ]:
import numpy as np

In [ ]:
atoms = np.array([[0., 0., 0.],
                  [3., 3., 3.],
                  [2., 8., 7.]]
                 )

In [ ]:
atoms

In [ ]:
masses = np.array([1., 1., 5.])

In [ ]:
atoms = atoms + [1.,2.,3.]
atoms

In [ ]:
riddle = np.array([[ 533.,  502.,  530.,  591.,  552.,  563.,  508.,  581.,  570.,  557.,  510.,  303.,  355.,  389.,  306.,  598.,  540.,  526.,  585.,  599.,  505.,  547.,  569.,  566.,  580.,  564.,  531.,  573.],
       [ 512.,  522.,  540.,  510.,  541.,  544.,  521.,  567.,  324.,  388.,  384.,  495.,  457.,  469.,  485.,  300.,  426.,  410.,  584.,  545.,  518.,  591.,  518.,  536.,  508.,  556.,  595.,  560.],
       [ 545.,  584.,  521.,  552.,  589.,  583.,  314.,  301.,  461.,  473.,  436.,  469.,  478.,  440.,  449.,  431.,  461.,  461.,  322.,  319.,  592.,  522.,  554.,  569.,  593.,  502.,  551.,  514.],
       [ 576.,  517.,  538.,  588.,  550.,  331.,  529.,  532.,  470.,  469.,  471.,  461.,  426.,  400.,  450.,  462.,  422.,  430.,  454.,  487.,  398.,  529.,  584.,  567.,  594.,  522.,  530.,  506.],
       [ 542.,  582.,  520.,  525.,  319.,  575.,  543.,  481.,  413.,  474.,  408.,  446.,  433.,  465.,  409.,  448.,  407.,  401.,  485.,  434.,  403.,  360.,  525.,  523.,  581.,  528.,  555.,  567.],
       [ 533.,  588.,  569.,  383.,  581.,  541.,  558.,  448.,  411.,  425.,  403.,  463.,  423.,  457.,  493.,  472.,  460.,  470.,  444.,  418.,  498.,  426.,  340.,  577.,  556.,  544.,  560.,  589.],
       [ 576.,  552.,  550.,  365.,  587.,  543.,  575.,  586.,  425.,  430.,  493.,  488.,  446.,  460.,  447.,  493.,  404.,  414.,  444.,  430.,  417.,  449.,  317.,  538.,  559.,  596.,  513.,  553.],
       [ 567.,  574.,  374.,  513.,  578.,  593.,  539.,  555.,  512.,  407.,  435.,  483.,  458.,  456.,  462.,  433.,  497.,  465.,  459.,  400.,  445.,  436.,  456.,  356.,  547.,  526.,  508.,  573.],
       [ 537.,  515.,  398.,  576.,  525.,  530.,  529.,  584.,  544.,  513.,  450.,  420.,  426.,  489.,  441.,  432.,  427.,  444.,  482.,  415.,  486.,  472.,  466.,  320.,  501.,  535.,  592.,  580.],
       [ 539.,  542.,  304.,  522.,  565.,  500.,  559.,  530.,  554.,  520.,  526.,  594.,  423.,  472.,  477.,  468.,  428.,  374.,  343.,  332.,  379.,  419.,  477.,  354.,  557.,  554.,  554.,  550.],
       [ 544.,  383.,  567.,  520.,  575.,  372.,  393.,  528.,  546.,  571.,  531.,  538.,  548.,  540.,  566.,  355.,  387.,  407.,  471.,  332.,  352.,  347.,  369.,  494.,  394.,  566.,  590.,  521.],
       [ 590.,  326.,  524.,  327.,  357.,  501.,  559.,  348.,  566.,  516.,  522.,  505.,  502.,  501.,  363.,  445.,  442.,  398.,  329.,  548.,  591.,  512.,  595.,  358.,  344.,  571.,  519.,  543.],
       [ 571.,  362.,  322.,  544.,  251.,  223.,  523.,  544.,  355.,  542.,  597.,  587.,  571.,  322.,  446.,  377.,  343.,  108.,  509.,  573.,  136.,  584.,  672.,  367.,  349.,  564.,  543.,  520.],
       [ 585.,  312.,  225.,  228.,  435.,  484.,  215.,  536.,  336.,  522.,  529.,  557.,  375.,  455.,  350.,  371.,  108.,  523.,  507.,  218.,  298.,  221.,  292.,  244.,  242.,  294.,  556.,  573.],
       [ 552.,  232.,  444.,  458.,  454.,  435.,  234.,  564.,  503.,  365.,  589.,  555.,  303.,  394.,  582.,  364.,  507.,  258.,  299.,  258.,  219.,  291.,  269.,  269.,  243.,  230.,  281.,  536.],
       [ 279.,  522.,  453.,  406.,  419.,  487.,  444.,  514.,  283.,  398.,  521.,  352.,  487.,  309.,  347.,  108.,  214.,  236.,  602.,  261.,  221.,  200.,  292.,  235.,  261.,  236.,  292.,  540.],
       [ 227.,  460.,  430.,  405.,  451.,  108.,  544.,  454.,  409.,  379.,  505.,  595.,  314.,  317.,  325.,  108.,  236.,  279.,  270.,  234.,  226.,  553.,  215.,  219.,  246.,  622.,  540.,  577.],
       [ 595.,  218.,  209.,  456.,  108.,  584.,  549.,  576.,  450.,  401.,  491.,  515.,  321.,  654.,  697.,  267.,  276.,  249.,  531.,  651.,  606.,  558.,  604.,  693.,  594.,  570.,  560.,  523.],
       [ 524.,  564.,  433.,  400.,  108.,  516.,  575.,  413.,  662.,  648.,  666.,  470.,  579.,  488.,  641.,  210.,  204.,  553.,  541.,  648.,  238.,  656.,  230.,  642.,  549.,  599.,  598.,  500.],
       [ 524.,  596.,  549.,  439.,  108.,  108.,  437.,  691.,  693.,  671.,  659.,  628.,  420.,  494.,  581.,  282.,  246.,  506.,  611.,  612.,  227.,  670.,  275.,  691.,  634.,  461.,  597.,  553.],
       [ 573.,  577.,  595.,  436.,  468.,  108.,  479.,  679.,  686.,  686.,  678.,  627.,  435.,  586.,  515.,  297.,  264.,  263.,  679.,  648.,  521.,  570.,  609.,  601.,  687.,  481.,  574.,  509.],
       [ 501.,  544.,  508.,  539.,  430.,  499.,  108.,  474.,  656.,  669.,  601.,  462.,  108.,  108.,  108.,  502.,  232.,  685.,  687.,  201.,  437.,  569.,  549.,  576.,  558.,  409.,  516.,  584.],
       [ 527.,  515.,  584.,  581.,  505.,  411.,  462.,  489.,  465.,  454.,  406.,  108.,  108.,  347.,  307.,  262.,  576.,  580.,  282.,  262.,  240.,  295.,  276.,  210.,  214.,  280.,  277.,  509.],
       [ 537.,  562.,  565.,  573.,  559.,  500.,  466.,  464.,  410.,  404.,  108.,  108.,  108.,  108.,  108.,  287.,  543.,  521.,  686.,  659.,  261.,  278.,  266.,  276.,  293.,  288.,  554.,  541.],
       [ 586.,  596.,  509.,  579.,  530.,  508.,  579.,  480.,  439.,  629.,  631.,  458.,  488.,  416.,  429.,  477.,  487.,  535.,  564.,  546.,  538.,  529.,  596.,  412.,  500.,  559.,  508.,  596.],
       [ 536.,  578.,  502.,  522.,  531.,  525.,  587.,  580.,  501.,  487.,  439.,  432.,  478.,  443.,  405.,  548.,  533.,  439.,  486.,  415.,  476.,  417.,  472.,  541.,  528.,  595.,  531.,  549.],
       [ 548.,  562.,  550.,  561.,  584.,  598.,  572.,  584.,  581.,  544.,  577.,  591.,  548.,  530.,  512.,  552.,  587.,  511.,  577.,  565.,  591.,  560.,  565.,  595.,  544.,  556.,  585.,  520.]])

In [ ]:
riddle

In [ ]:
print(riddle.shape)
print(riddle.size)

In [ ]:
riddle[:,-1]

In [ ]:
print(riddle)

In [ ]:

for x in len(riddle): 
    if riddle[x] >=200 and  riddle[x]<= 300:
        riddle [x]=0
    elif riddle[x]>=300 and  riddle[x]<=400:
        riddle [x]=40
    elif riddle[x]>=400 and  riddle[x]<=500:
        riddle [x]=156
    elif riddle[x]>=500 and  riddle[x]<=600:
        riddle [x]=220
riddle

In [ ]:
#PANDAS
#Series vs Data Frame
import pandas as pd
import numpy as np

In [ ]:
#SERIES
a = pd.Series(np.random.random(10))
a
#generated an indexed array of random numbers

In [ ]:
a = a*10
a

In [ ]:
a = pd.Series(np.random.random(10)),index=['a','b','c','d','e','f','g','h','i','j']

In [ ]:
#DATAFRAME

colnames = ['Column1','Column2','Column3','Column4','Column5']

df = pd.DataFrame(np.random.random((10,5)), columns=colnames)

df

In [ ]:
np.random.random((10,10))

In [ ]:
#TURN INTO DATAFRAME
df=pd.DataFrame(np.random.random((10,10)))
print(df)
#bekommt row and colums index

In [ ]:
colnames=[]
for i in range (len(df)):
              colnames.append('Columns' + str (i))

In [ ]:
df_col=pd.DataFrame(np.random.random((10,10)), columns=colnames)
print(df_col)

In [ ]:
#After naming colums I can use thm to address the data
df_col['Columns0']

In [ ]:
#COMMAND HEAD TAIL
df_col.head()
#default is 5 first rows

In [ ]:
df_col.head(2) #erste 2 Reihen

In [ ]:
df_col.tail(2) #letzten 2 reihen

In [ ]:
df_col['Columns1'].head(3)
#erste 3 reihen der Column1

In [ ]:
df_col['Columns2'][9]

In [ ]:
# Converting Other Data Structures to DataFrames
lst = [208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000, 129900, 118000]

price_df = pd.DataFrame(lst, columns=['SalePrice'])

price_df

In [ ]:
#TURN DICT IN TO DATAFRAME

house_dict = {'Baker House': [7420, 'BrkSide', 1939, 5, 118000],
              'Beazley House': [14115, 'Mitchel', 1993, 5, 143000],
              'Dominguez House': [14260, 'NoRidge', 2000, 8, 250000],
              'Hamilton House': [6120, 'OldTown', 1931, 7, 129900],
              'James House': [11250, 'CollgCr', 2001, 7, 223500],
              'Martinez House': [9600, 'Veenker', 1976, 6, 181500],
              'Roberts House': [9550, 'Crawfor', 1915, 7, 140000],
              'Smith House': [8450, 'CollgCr', 2003, 7, 208500],
              'Snyder House': [10084, 'Somerst', 2004, 8, 307000],
              'Zuckerman House': [10382, 'NWAmes', 1973, 7, 200000]}
pd.DataFrame(house_dict)

In [ ]:
pd.DataFrame.from_dict(house_dict, orient='index')

In [ ]:
df_col.mean()

In [ ]:
df_col.mean(axis=0)#spalte

In [ ]:
df_col.mean(axis=1) #zeile

In [ ]:
#Subsetting and Filtering in Pandas
animals = pd.read_csv('/Users/spitzer/Desktop/IronHack/SleepInMammals.csv')
animals

In [ ]:
animals.index.values

In [ ]:
#Selecting Columns
animals['Body Weight (kg)']

In [ ]:
#Selecting Rows
animals[11:20]

In [ ]:
#SUBSETTING USING FUNCTIONS
#.loc is primarily label based. With .loc we perform subsetting using the name of the column
#.iloc is primarily integer based. With .iloc we perform subsetting using the integer position of the column

In [ ]:
animals.iloc[[0,2,4],[0,1]]#Zeilen mit Index 0,2,4 Spalten mit Index 0 und 1

In [ ]:
#FILTERING
animals[animals.Body Weight (kg) < 2]

In [ ]:
df.mean()# dataframe mean of columns

In [ ]:
df.mean(axis=1)# mean of each row of dataframe. axis=1 entspricht rows, axis=0 entspricht columns ist default

In [ ]:
df['Columns0'].mean() #mean nur der 'Column0'

In [ ]:
#ADD COLUMN TO DATAFRAM
df['cat']='kittycat'
df

In [ ]:
df['2* Columns1']=df['Columns1']*2 #creates new column at the end with the values of column 1 multiplied by 2
df

In [ ]:
#'CREAT COLUMN WITH ALL MEANS OF THAT ROW OF ALL COLUMNS'
df['MeanColumns']=df.mean(axis=1)
df

In [23]:
#DATA ANALYSIS
import pandas as pd
animals = pd.read_csv('sleepinmammals.csv')
animals.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
0,Africanelephant,6654.00,5712.0,NaN,NaN,3.3,38.6,645.0
1,Africangiantpouchedrat,1.00,6.6,6.3,2.0,8.3,4.5,42.0
2,ArcticFox,3385.00,44.5,NaN,NaN,12.5,14.0,60.0
3,Arcticgroundsquirrel,0.92,5.7,NaN,NaN,16.5,NaN,25.0
4,Asianelephant,2547.00,4603.0,2.1,1.8,3.9,69.0,624.0

In [24]:
animals[11:21] #rows 11 to 20

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
11,Cow,465.00,423.0,3.2,0.7,3.9,30.0,281.0
12,Deserthedgehog,0.55,2.4,7.6,2.7,10.3,NaN,NaN
13,Donkey,187.10,419.0,NaN,NaN,3.1,40.0,365.0
14,EasternAmericanmole,75.00,1.2,6.3,2.1,8.4,3.5,42.0
15,Echidna,3.00,25.0,8.6,0.0,8.6,50.0,28.0
16,Europeanhedgehog,785.00,3.5,6.6,4.1,10.7,6.0,42.0
17,Galago,0.20,5.0,9.5,1.2,10.7,10.4,120.0
18,Genet,1.41,17.5,4.8,1.3,6.1,34.0,NaN
19,Giantarmadillo,60.00,81.0,12.0,6.1,18.1,7.0,NaN
20,Giraffe,529.00,680.0,NaN,0.3,NaN,28.0,400.0

In [25]:
#LOCATION: loc and iloc
#loc for location iloc for index location, iloc uses location of column by index

In [28]:
#extraction rows 11-20 for the first 3 columns
animals.iloc [11:21,0:3]

                Species  BodyWt  BrainWt
11                  Cow  465.00    423.0
12       Deserthedgehog    0.55      2.4
13               Donkey  187.10    419.0
14  EasternAmericanmole   75.00      1.2
15              Echidna    3.00     25.0
16     Europeanhedgehog  785.00      3.5
17               Galago    0.20      5.0
18                Genet    1.41     17.5
19       Giantarmadillo   60.00     81.0
20              Giraffe  529.00    680.0

In [45]:
animals.loc[11:20,['Species','BrainWt']]

                Species  BrainWt
11                  Cow    423.0
12       Deserthedgehog      2.4
13               Donkey    419.0
14  EasternAmericanmole      1.2
15              Echidna     25.0
16     Europeanhedgehog      3.5
17               Galago      5.0
18                Genet     17.5
19       Giantarmadillo     81.0
20              Giraffe    680.0

In [46]:
animals.loc[11:21,'Species':'Dreaming']

                Species  BodyWt  BrainWt  NonDreaming  Dreaming
11                  Cow  465.00    423.0          3.2       0.7
12       Deserthedgehog    0.55      2.4          7.6       2.7
13               Donkey  187.10    419.0          NaN       NaN
14  EasternAmericanmole   75.00      1.2          6.3       2.1
15              Echidna    3.00     25.0          8.6       0.0
16     Europeanhedgehog  785.00      3.5          6.6       4.1
17               Galago    0.20      5.0          9.5       1.2
18                Genet    1.41     17.5          4.8       1.3
19       Giantarmadillo   60.00     81.0         12.0       6.1
20              Giraffe  529.00    680.0          NaN       0.3
21                 Goat   27.66    115.0          3.3       0.5

In [49]:
#subset datafram by condition
#Getting all the rows where BrainWt <2
animals[animals['BrainWt']<2] #give me all rows where condition is true

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
6,Bigbrownbat,23.00,0.30,15.8,3.9,19.7,19.0,35.0
14,EasternAmericanmole,75.00,1.20,6.3,2.1,8.4,3.5,42.0
22,Goldenhamster,0.12,1.00,11.0,3.4,14.4,3.9,16.0
31,Lessershort-tailedshrew,5.00,0.14,7.7,1.4,9.1,2.6,21.5
32,Littlebrownbat,0.01,0.25,17.9,2.0,19.9,24.0,50.0
36,Mouse,23.00,0.40,11.9,1.3,13.2,3.2,19.0
37,Muskshrew,48.00,0.33,10.8,2.0,12.8,2.0,30.0
47,Rat,0.28,1.90,10.6,2.6,13.2,4.7,21.0
55,Starnosedmole,0.06,1.00,8.1,2.2,10.3,3.5,NaN

In [50]:
#COOLE FUNKTION FÃR DATAFRAME
animals.describe()

,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
count,62.000000,62.000000,48.000000,50.000000,58.000000,58.000000,58.000000
mean,418.231613,283.134194,8.672917,1.972000,10.532759,19.877586,142.353448
std,1211.589440,930.278942,3.666452,1.442651,4.606760,18.206255,146.805039
min,0.010000,0.140000,2.100000,0.000000,2.600000,2.000000,12.000000
25%,1.640000,4.250000,6.250000,0.900000,8.050000,6.625000,35.750000
50%,18.915000,17.250000,8.350000,1.800000,10.450000,15.100000,79.000000
75%,117.500000,166.000000,11.000000,2.550000,13.200000,27.750000,207.500000
max,6654.000000,5712.000000,17.900000,6.600000,19.900000,100.000000,645.000000

In [69]:
#ADRESS spezifc field in datafram
animals.iat[0,0]

'Africanelephant'

In [56]:
#LIST COMPREHENSION
#list 10 bis 20
my_list=[x for x in range (10,21)]
my_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [57]:
my_list=[x*2 for x in range (10,21)]
my_list

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [65]:
my_list=[x for x in range (30,54)]
print(my_list)

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [63]:
#'create a list which contains each number freim 0-9 muliplied by 5'
my_list=[x*5 for x in range (10)]
print(my_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [67]:
#testing if number is odd or even
my_list=[x for x in range (50) if x%2==0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [68]:
#FLATTEN THIS LIST USING A LIST COMPREHENSION
a=[[1,2,3],[4,5,6],[7,8,9]]
my_list=[x for y in a for x in y]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
#LAMBDA FUNCTION
square = lambda x: x * x
print(square(5))

25

In [3]:
def double_function(x):
    return x*2

In [4]:
double_function(10)

20

In [7]:
double_lambda=(lambda x: x*2)
double_lambda(5)

10

In [9]:
# takes number and adds 5
plus_five=lambda x: x+5
plus_five(2)

7

In [10]:
(lambda x: x+5)(2) #zweit klammer "calls" the function instantliy

7

In [11]:
(lambda x: x+10)(3)

13

In [20]:
def add_function(x,y=0): #value 0 would be the fallback if no 2nd argument is given
    return x+y

In [21]:
add_function(2,3)
add_function(2,)#Takes default value from the function

2

In [22]:
add_lambda=lambda x,y: x+y

In [23]:
add_lambda(4,2)

6

In [24]:
(lambda x,y: x+y)(4,2)

6

In [28]:
#lambda expression returning the max
(lambda x,y: x if (x>y) else  y)(5,4)

5

In [30]:
#write a labda function that gives out the number itself if it is even, or zero otherwise
(lambda x: x if x%2==0 else 0)(4)

4

In [31]:
#LAMBDA FUNCTION
#with multiple arguments
sum_1 = lambda a, b: a + b
sum_1(5, 6)

11

In [77]:
#If Statements in Lambda Functions
div = lambda num_1, num_2: num_1 / num_2 if (num_2 != 0) else 0
#we specify the if after we specify the action
print (div(2,3))

0.6666666666666666

In [82]:
#Lambdas in the Return Statement of a Function
#We can use lambda expressions to return a function from a function.
def generate_range(lower):
    return lambda upper: range(lower, upper)

custom_range = generate_range(0)

custom_range(10)
range(0, 10)

[x for x in custom_range(19)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [88]:
#Lambdas in List Comprehensions
#Here we replace a dash with a space in a list of school subjects.
school_dash = ['Calclulus', 'Philosophy', 'Art-History', 'Computer-Science']
 
school_space = [(lambda x: x.replace('-', ' ')) (x) for x in school_dash]
 
print(school_space)

['Calclulus', 'Philosophy', 'Art History', 'Computer Science']

In [43]:
#Lambda function
mylist =[1,2,3,4,5,6,7,8,9,10]
newlist = [(lambda x: x/2)(x) for x in mylist]
newlist

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [54]:
#TAKE LIST ONLY PUT EVEN ONES IN NEW LIST
mylist =[1,2,3,4,5,6,7,8,9,10]
newlist = [(lambda x: x if x%2==0 else 0)(x) for x in mylist]
newlist

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [51]:
misters =['MisterB', 'MisterD', 'MisterZ', 'MisterF']
sorted(misters,reverse=True)

['MisterZ', 'MisterF', 'MisterD', 'MisterB']

In [53]:
#USE LAMBDA AS A KEY FOR SORTED
last_lambda= lambda x:x[-1]
sorted(misters,key=last_lambda)

['MisterB', 'MisterD', 'MisterF', 'MisterZ']

In [59]:
second_letter = lambda x:x[0][1]
second_letter(('hello',1))
list_tuples =[('eggs',1),('apple',2),('carrot',3)]
sorted(list_tuples, key = second_letter)

[('carrot', 3), ('eggs', 1), ('apple', 2)]

In [10]:
#APPLYING ZIP
list1=[21,35,72,11]
list2=['a','b','c','d']
#print(list(zip(list1,list2)))
#print(dict(zip(list1,list2)))

In [12]:
#ZIP TO SUM UP 2 Lists
list1=[21,35,72,11]
list3=[44,37,71,14]
[a+b for (a,b) in zip (list1,list3)]

[65, 72, 143, 25]

In [16]:
#ZIP + LAMBDA TO DO THE SAME THING
[(lambda x,y: x+y)(x,y) for (x,y) in zip (list1,list3)]

[65, 72, 143, 25]

In [1]:
#MAP REDUCE FILTE
#MAP : takes each element in a list and applis a function to it
#syntax: map(function, iterable) >> applies the function we name in brackets on every element of the list we fed it. the func
# map does not return a list. it return a function handle.

In [2]:
def half(x):
    return x/2

mylist=[7,5,24,80,23]
list(map(half,mylist)) # returns function handle

[3.5, 2.5, 12.0, 40.0, 11.5]

In [5]:
#MAP WITH LAMBDA FUNCTION
#half_lambda=lambda x: x/2
list(map(lambda x: x/2, mylist))

[3.5, 2.5, 12.0, 40.0, 11.5]

In [11]:
#FILTER
def even_num(x):
    if x%2==0:
        return x
even_num(4)

4

In [14]:
list(filter(even_num,mylist))#calls function above

[24, 80]

In [19]:
list(filter(lambda x: x%2==0,mylist))#instead of calling function above, function is done within a lambda functiom

[24, 80]

In [ ]:
#REDUCE
#mashes all values in the list together > we end up with a single item
#Reduce applies a function of two arguments cumulatively to the elements of an iterable
#Optionally starting with an initial argument
#Reduce returns a single item, not a list

In [22]:
mylist=[7,5,24,80,23]


from functools import reduce

def add (x,y):
    return x+y

reduce(add,mylist)

139

In [25]:
reduce(lambda x,y: x+y,mylist)

139

In [26]:
#REDUCE ALLOWS YOU TO HAVE AN INITAL VALUE OPTIONALLY
mylist=[7,5,24,80,23]

reduce(lambda x,y: x+y,mylist,100)

239

In [29]:
reduce(lambda x,y: x*y,mylist,10)

15456000

In [1]:
# MANIPULATION DATAFRAMES WITH PANDAS DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Labs/module-1_labs/04_pandas/04_lab-data_cleaning/vehicles.csv')
df.head()
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [3]:
#RENAMING COLUMNS
#Rename column 'make' into 'manufactur'

# not permanent change . just display
df.rename(columns={'Make':'Manufacturer'})

#permanent#1
df.rename(columns={'Make':'Manufacturer'}, inplace = True )
df.head()

#permanent2
df=df.rename(columns={'Make':'Manufacturer'})

In [27]:
#RENAME SEVERAL COLUMNS AT A TIME
#inplace = true makes renaming it permanent
#also asigning the dataframe will make it permanently df=
df.rename(columns={'Make':'Manufacturer','Engine Displacement':'Displacement'}, inplace = True)
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
#RENAME permanent

In [34]:
#FILTERING DATE: SUBSETTING
df['Manufacturer']=='Ford' # resultat boolean
df[df['Manufacturer']=='Ford'] #gibt mir df wo condition zutrifft

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14383,Ford,Windstar FWD Wagon,2001,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850
14384,Ford,Windstar FWD Wagon,2002,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,21,18,493.722222,1850
14385,Ford,Windstar FWD Wagon,2003,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850

In [35]:

df_ford=df[df['Manufacturer']=='Ford']
df_ford.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [42]:
#APPLY VARIOUS FILTERS, EVERY CONDITION needs seperate ()
df_ford_1986 = df[(df['Manufacturer']=='Ford') & (df['Year'] == 1986)] 
df_ford_1986.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [ ]:
#create new columns with hello in all rows
df['hello'] ='hello'

In [58]:
#create new column and calculate
df['age_of_care'] = 2020-df['Year'] #
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,age_of_care
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,33

In [ ]:
#Delete column permantly with drop
#Deleting column fule cost per year
df.drop('Fuel Cost/Year', axis=1)#not permanet

df=df.drop('Fuel Cost/Year', axis=1) #permanent
df.drop('Fuel Cost/Year', axis=1, inplace=True) #permanent
del df ['Fuel Cost/Year'] #permanent
df.drop(['City MPG', 'Highway MPG'], axis=1, inplace=True) #delete several columns

In [63]:
#APPLYING FUNCTION TO COLUMNS
df.sum() #sum of all of my coumns
df.sum(axis =1) # sum of all my rows
df['Year'].sum() #sum single volume
df[['Year','Fuel Cost/Year']].sum() #sum 2 columns: have to make it a list

In [ ]:
#Warum double brackets needed? sieht man daran: Wenn man eine Liste vorher erstellt wird braucht man keine duble brackets. aber wenn man liste direkt hinen schreibt werden es double brackets
columns_to_compute=['Year','Fuel Cost/Year']
df[columns_to_compute].sum()
#selbes Ergebenis
df[['Year','Fuel Cost/Year']].sum()

In [5]:
df[['Year','Fuel Cost/Year']].sum()

Year              71929756
Fuel Cost/Year    68042700
dtype: int64

In [ ]:
#SORT TEMPROARLY BY YEAR
df.sort_values(by = 'Year')

In [ ]:
#SORT PERMANTLY BY YEAR
df.sort_values(by = 'Year', inplace = True)

In [ ]:
df.sort_values(by=['Year'], inplace=True, ascending=False)

In [28]:
df.sort_values(by ='Year', ascending=True)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
16337,GMC,T15 (S15) Pickup 4WD,1984,2.8,6.0,Manual 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,19.388824,15,21,17,522.764706,1950
16336,GMC,T15 (S15) Pickup 4WD,1984,2.8,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,18.311667,15,22,18,493.722222,1850
5636,Chevrolet,El Camino Pickup 2WD,1984,3.8,6.0,Automatic 3-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Regular,19.388824,15,19,17,522.764706,1950
5637,Chevrolet,El Camino Pickup 2WD,1984,3.8,6.0,Automatic 4-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Regular,18.311667,15,22,18,493.722222,1850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,BMW,340i xDrive,2017,3.0,6.0,Automatic (S8),All-Wheel Drive,Compact Cars,Premium,13.184400,21,31,25,357.000000,1600
3137,Bentley,Continental GT,2017,4.0,8.0,Automatic (S8),All-Wheel Drive,Compact Cars,Premium,17.347895,15,25,19,475.000000,2150
1965,BMW,340i,2017,3.0,6.0,Manual 6-spd,Rear-Wheel Drive,Compact Cars,Premium,14.330870,19,29,23,395.000000,1750
21091,Land Rover,Range Rover Evoque Convertible,2017,2.0,4.0,Automatic (S9),4-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.330870,20,28,23,391.000000,1750
20450,Kia,Forte 5,2017,1.6,4.0,Manual 6-spd,Front-Wheel Drive,Large Cars,Regular,13.184400,23,29,25,353.000000,1350

In [ ]:
#largest 3 Years
df.nlargest(3,'Year')
df.nsmallest(3,'Year')
df.nlargest(3,['Year','City MPG'])

In [11]:
# METHODS THAT ONLY APPLY TO ONE ELEMENT
#ex .upper() cant run on a series. Upper is a method not a function. A method is tied to a datatype. upper can only work with string
df['Manufacturer'].str.upper() # only str. makes upper understand its looking at element as a string
df['Manufacturer'].apply(lambda x: x.upper()) # same thing with lambda

0              AM GENERAL
1              AM GENERAL
2              AM GENERAL
3              AM GENERAL
4        ASC INCORPORATED
               ...
35947               SMART
35948               SMART
35949               SMART
35950               SMART
35951               SMART
Name: Manufacturer, Length: 35952, dtype: object

In [13]:
#replace 'a' by 'b' Good for data cleaning
df['Manufacturer'].apply(lambda x: x.replace('a','b'))

0              AM Generbl
1              AM Generbl
2              AM Generbl
3              AM Generbl
4        ASC Incorporbted
               ...
35947               smbrt
35948               smbrt
35949               smbrt
35950               smbrt
35951               smbrt
Name: Manufacturer, Length: 35952, dtype: object

In [30]:
#DATAFRAME AGGREGATIONS USING GROUPBY
#aplly something to various groups
df.groupby('Fuel Type').mean()# Group by Fuel Type.

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Fuel Type,,,,,,,,,
CNG,2003.200000,3.963333,6.500000,0.119789,15.966667,22.016667,18.133333,454.976354,1954.166667
Diesel,1994.929748,4.188913,6.225027,17.680877,21.173436,27.466520,23.488474,470.905819,1673.326015
Gasoline or E85,2010.501255,4.465188,6.974059,19.560309,15.347280,21.613389,17.572385,527.444383,1978.870293
Gasoline or natural gas,2004.000000,4.570000,6.800000,23.725940,13.700000,18.700000,15.350000,638.967778,2410.000000
Gasoline or propane,2002.500000,5.400000,8.000000,24.720750,12.000000,16.500000,13.500000,666.525000,2500.000000
Midgrade,2014.148649,5.536486,7.864865,19.163168,14.851351,22.364865,17.378378,516.911921,2152.027027
Premium,2005.575345,3.517075,6.365286,17.852563,16.793166,23.855861,19.343816,481.159270,2198.094950
Premium Gas or Electricity,2014.470588,1.764706,4.235294,4.755412,30.705882,33.176471,31.647059,125.411765,1361.764706
Premium and Electricity,2015.700000,2.345000,4.850000,8.135294,24.900000,28.900000,26.300000,239.450000,1597.500000
Premium or E85,2012.917355,3.680992,6.892562,17.021126,17.305785,24.909091,20.090909,460.462355,2091.322314
Regular,1998.252597,3.164540,5.420952,17.467430,17.970195,23.854623,20.144698,470.907242,1767.024208
Regular Gas and Electricity,2014.625000,1.950000,4.000000,4.669536,43.125000,40.750000,41.937500,125.687500,812.500000
Regular Gas or Electricity,2016.500000,1.500000,4.000000,2.006844,43.000000,42.000000,42.000000,51.000000,800.000000

In [21]:
#GROUPBY SEVERAL COLUMSN
df.groupby(['Fuel Type','Manufacturer']).mean()

                                                 Year  Engine Displacement  \
Fuel Type                   Manufacturer
CNG                         Chevrolet     2004.400000             6.000000
                            Dodge         1998.875000             4.487500
                            Ford          2000.368421             5.063158
                            GMC           2004.500000             6.000000
                            Honda         2006.500000             1.738889
...                                               ...                  ...
Regular Gas and Electricity Ford          2014.777778             2.000000
                            Honda         2014.000000             2.000000
                            Hyundai       2016.500000             2.000000
                            Toyota        2013.500000             1.800000
Regular Gas or Electricity  Chevrolet     2016.500000             1.500000

                                          Cylinders  Fuel Barrels/Year  \
Fuel Type                   Manufacturer
CNG                         Chevrolet          8.00           0.181867
                            Dodge              7.25           0.133433
                            Ford               8.00           0.138454
                            GMC                8.00           0.180833
                            Honda              4.00           0.065410
...                                             ...                ...
Regular Gas and Electricity Ford               4.00           4.801412
                            Honda              4.00           4.827657
                            Hyundai            4.00           3.858080
                            Toyota             4.00           4.739011
Regular Gas or Electricity  Chevrolet          4.00           2.006844

                                           City MPG  Highway MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet      9.400000    12.600000
                            Dodge         12.625000    17.250000
                            Ford          11.894737    16.842105
                            GMC            9.500000    13.000000
                            Honda         25.222222    34.222222
...                                             ...          ...
Regular Gas and Electricity Ford          40.333333    36.555556
                            Honda         47.000000    46.000000
                            Hyundai       38.000000    40.500000
                            Toyota        51.000000    49.000000
Regular Gas or Electricity  Chevrolet     43.000000    42.000000

                                          Combined MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet        10.400000
                            Dodge            14.250000
                            Ford             13.736842
                            GMC              10.500000
                            Honda            28.500000
...                                                ...
Regular Gas and Electricity Ford             38.444444
                            Honda            46.000000
                            Hyundai          39.500000
                            Toyota           50.000000
Regular Gas or Electricity  Chevrolet        42.000000

                                          CO2 Emission Grams/Mile  \
Fuel Type                   Manufacturer
CNG                         Chevrolet                  693.198000
                            Dodge                      508.590547
                            Ford                       527.726359
                            GMC                        689.259375
                            Honda                      247.532772
...                                                           ...
Regular Gas and Electricity Ford                       127.111111
                            Honda                      130.000000
                            Hyundai                    102.500000
                            Toyota                     133.000000
Regular Gas or Electricity  Chevrolet                   51.000000

                                          Fuel Cost/Year
Fuel Type                   Manufacturer
CNG                         Chevrolet        2950.000000
                            Dodge            2181.250000
                            Ford             2252.631579
                            GMC              2925.000000
                            Honda            1077.777778
...                                                  ...
Regular Gas and Electricity Ford              888.888889
                            Honda             700.000000
                            Hyundai           850.000000
                            Toyota            650.000000
Regular Gas or Electricity  Chevrolet         800.000000

[265 rows x 9 columns]

In [22]:
#GROUPBY SEVERAL 
df.groupby(['Fuel Type'])['Cylinders'].mean() #Mean for Cylinders grouped by Fuel Type

Fuel Type
CNG                            6.500000
Diesel                         6.225027
Gasoline or E85                6.974059
Gasoline or natural gas        6.800000
Gasoline or propane            8.000000
Midgrade                       7.864865
Premium                        6.365286
Premium Gas or Electricity     4.235294
Premium and Electricity        4.850000
Premium or E85                 6.892562
Regular                        5.420952
Regular Gas and Electricity    4.000000
Regular Gas or Electricity     4.000000
Name: Cylinders, dtype: float64

In [23]:
df.groupby(['Fuel Type'])['Cylinders','City MPG'].mean() # MEAN of Cylinders and city mpg grouped by Fuel Type

<ipython-input-23-3d01ab60d1e2>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Fuel Type'])['Cylinders','City MPG'].mean()

                             Cylinders   City MPG
Fuel Type
CNG                           6.500000  15.966667
Diesel                        6.225027  21.173436
Gasoline or E85               6.974059  15.347280
Gasoline or natural gas       6.800000  13.700000
Gasoline or propane           8.000000  12.000000
Midgrade                      7.864865  14.851351
Premium                       6.365286  16.793166
Premium Gas or Electricity    4.235294  30.705882
Premium and Electricity       4.850000  24.900000
Premium or E85                6.892562  17.305785
Regular                       5.420952  17.970195
Regular Gas and Electricity   4.000000  43.125000
Regular Gas or Electricity    4.000000  43.000000

In [24]:
df.groupby(['Fuel Type'])['Cylinders','City MPG'].agg(['mean', 'max','min']) # listing aggeration methods if want mean max and min

<ipython-input-24-4e61ceb39509>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Fuel Type'])['Cylinders','City MPG'].agg(['mean', 'max','min']) # listing aggeration methods if want mean max and min

                            Cylinders              City MPG
                                 mean   max  min       mean max min
Fuel Type
CNG                          6.500000   8.0  4.0  15.966667  27   8
Diesel                       6.225027  10.0  4.0  21.173436  38  13
Gasoline or E85              6.974059   8.0  4.0  15.347280  28  10
Gasoline or natural gas      6.800000   8.0  4.0  13.700000  21  10
Gasoline or propane          8.000000   8.0  8.0  12.000000  13  11
Midgrade                     7.864865   8.0  6.0  14.851351  21  13
Premium                      6.365286  16.0  2.0  16.793166  42   6
Premium Gas or Electricity   4.235294   8.0  2.0  30.705882  41  20
Premium and Electricity      4.850000   8.0  3.0  24.900000  37  16
Premium or E85               6.892562  12.0  4.0  17.305785  24  11
Regular                      5.420952  12.0  2.0  17.970195  58   7
Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
Regular Gas or Electricity   4.000000   4.0  4.0  43.000000  43  43

In [25]:
df.groupby(['Fuel Type'])['Cylinders','City MPG'].agg(['mean', 'max','min']).reset_index()

<ipython-input-25-9e70b6917957>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Fuel Type'])['Cylinders','City MPG'].agg(['mean', 'max','min']).reset_index()

                      Fuel Type Cylinders              City MPG
                                     mean   max  min       mean max min
0                           CNG  6.500000   8.0  4.0  15.966667  27   8
1                        Diesel  6.225027  10.0  4.0  21.173436  38  13
2               Gasoline or E85  6.974059   8.0  4.0  15.347280  28  10
3       Gasoline or natural gas  6.800000   8.0  4.0  13.700000  21  10
4           Gasoline or propane  8.000000   8.0  8.0  12.000000  13  11
5                      Midgrade  7.864865   8.0  6.0  14.851351  21  13
6                       Premium  6.365286  16.0  2.0  16.793166  42   6
7    Premium Gas or Electricity  4.235294   8.0  2.0  30.705882  41  20
8       Premium and Electricity  4.850000   8.0  3.0  24.900000  37  16
9                Premium or E85  6.892562  12.0  4.0  17.305785  24  11
10                      Regular  5.420952  12.0  2.0  17.970195  58   7
11  Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
12   Regular Gas or Electricity  4.000000   4.0  4.0  43.000000  43  43

In [ ]:
#MERGING DATAFRAMES

In [ ]:
#CREATING