In [1]:
# import libraries
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv('survey_results_public.csv')
df_scheme = pd.read_csv('survey_results_schema.csv')
df_scheme.head()

       Column                                       QuestionText
0  Respondent  Randomized respondent ID number (not in order ...
1  MainBranch  Which of the following options best describes ...
2    Hobbyist                            Do you code as a hobby?
3         Age  What is your age (in years)? If you prefer not...
4  Age1stCode  At what age did you write your first line of c...

In [ ]:
pd.set_option('display.max_columns',40)
pd.set_option('display.max_rows', 40)

In [26]:
#ADDRESSE ROWS WITH iloc 'integerlocation'
df.iloc[[0,88]] #Zeile mit Index 0 und 88

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
88,89,I am a developer by profession,Yes,28.0,12,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,Just as welcome now as I felt last year,45.0,6,2

In [33]:
#ADDRESS ROWS & COLUMNS WITH ILOC
df.iloc[[0,88], [0,1,3]] #Spalte mit Index 0,1 und 3 der Zeilen mit Index 0 und 88

    Respondent                      MainBranch   Age
0            1  I am a developer by profession   NaN
88          89  I am a developer by profession  28.0

In [35]:
#LOC SEARCHING BY LABEL. LABEL = Bezeichnung die in Index Spalte steht. 
#Label kann von "echtem' Index abweichern
df.loc[[0,1,7],['Age','Country','Hobbyist']]

    Age         Country Hobbyist
0   NaN         Germany      Yes
1   NaN  United Kingdom       No
7  36.0   United States      Yes

In [36]:
df.shape

(64461, 61)

In [39]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [46]:
 df.loc[0:2,['Hobbyist']] #slicing OHNE eckige Klammer fÃ¼r Liste

  Hobbyist
0      Yes
1       No
2      Yes

In [47]:
 df.loc[0:2,'Hobbyist':'Employment'] #loc with slicing

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment
0,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em..."
1,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time
2,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#SET CUSTOM INDEXES: How to label Rows
df.set_index['column_name', inplace=True]

In [48]:
#look up index values
df.index

RangeIndex(start=0, stop=64461, step=1)

In [ ]:
df.reset_index(inplace=True) #setzt index auf 0-n zurÃ¼ck

In [60]:
#SET CERTAIN COLUMN AS INDEX ALREADY WHEN READING THE CSV
df = pd.read_csv('survey_results_public.csv', index_col='Respondent') #spalte Respondent als Index setzen
df_scheme = pd.read_csv('survey_results_schema.csv', index_col='Column')

df_scheme.head(3)

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?

In [62]:
df_scheme.loc['JobFactors', 'QuestionText'] #Frage gefunden

'Imagine that you are deciding between two job offers with the same compensation, benefits, and location. Of the following factors, which 3 are MOST important to you?'

In [67]:
df_scheme.sort_index(ascending=True, inplace=True)
df_scheme.head()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
CompFreq        Is that compensation weekly, monthly, or yearly?
CompTotal      What is your current total compensation (salar...
ConvertedComp  Salary converted to annual USD salaries using ...