In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
notif=pd.read_csv('logs_notifications.csv')#notifications send
web=pd.read_csv('logs_web.csv')#clicked

In [3]:
notif.shape #notifications send

(500000, 5)

In [4]:
notif

,browser,datetime,ip_anonymized,language,message
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1
...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2

In [5]:
web.shape #clicked

(6438, 5)

In [6]:
df = pd.merge(notif,web, on = 'ip_anonymized',copy='False', how='left')
df

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,NaN,NaN,NaN
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,NaN,NaN,NaN
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,NaN,NaN,NaN
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,NaN,NaN,NaN
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,NaN,NaN,NaN

In [7]:
df.rename(columns={'datetime_x':'notification_datetime','browser_x':'notification_browser','language_x':'notification_language','datetime_y':'webvisit_datetime','message_x':'message_type'},inplace = True)

In [8]:
df.drop(columns=['browser_y','language_y','message_y'],inplace=True)

In [9]:
df.head(9)

,notification_browser,notification_datetime,ip_anonymized,notification_language,message_type,webvisit_datetime
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN
5,chrome,2015-09-01 00:00:02,320cfe145fa062727f213068d2cd502f,es,0,NaN
6,chrome,2015-09-01 00:00:02,648b2d57aba541d5e9817075969482c9,es,1,NaN
7,chrome,2015-09-01 00:00:02,a381be47e7b43d4a60a08eb4be109c52,en,2,NaN
8,chrome,2015-09-01 00:00:02,e1124b0f15f8d3c7dc9afec4c80f09ef,de,2,NaN

In [10]:
df['visited']=np.where(df['webvisit_datetime'].isna(),0,1)

In [11]:
df.head()

,notification_browser,notification_datetime,ip_anonymized,notification_language,message_type,webvisit_datetime,visited
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,0
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,0

In [12]:
dum=pd.get_dummies(df['message_type'])
dum.head()
df_reg=pd.merge(df,dum,left_index=True,right_index=True)

df_reg.rename(columns={0:'message_0',1:'message_1',2:'message_2'},inplace=True)
df_reg

,notification_browser,notification_datetime,ip_anonymized,notification_language,message_type,webvisit_datetime,visited,message_0,message_1,message_2
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,0,0,0,1
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,0,1,0,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,0,1,0,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,0,0,0,1
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,0,1,0,0
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,0,1,0,0
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,0,0,1,0
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,0,0,0,1
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,0,0,0,1

In [13]:
X=df_reg[['message_1','message_2']]
Y=df_reg['visited']
X= sm.add_constant(X)

model=sm.Logit(Y,X)
results=model.fit()
results.summary()
#confidence intervals overlap for message 1 and message 2

Optimization terminated successfully.
         Current function value: 0.068291
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                visited   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499997
Method:                           MLE   Df Model:                            2
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:                0.001078
Time:                        16:33:26   Log-Likelihood:                -34146.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 1.001e-16
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5011      0.024   -191.178      0.000      -4.547      -4.455
message_1      0.2643      0.031      8.439      0.000       0.203       0.326
message_2      0.1772      0.032      5.549      0.000       0.115       0.240
==============================================================================
"""

In [14]:
## We want to compare message 1 to message 2 now, since the CI for coefficients above overlap.
X = df_reg[df_reg['message_0'] == 0]['message_2']
Y = df_reg[df_reg['message_0'] == 0]['visited']
X = sm.add_constant(X)
model = sm.Logit(Y,X)
results = model.fit()
results.summary() 
# Message 2 has a negative significant coefficient compared to Message 1.
# We will select Message 1 as the best performing message.

Optimization terminated successfully.
         Current function value: 0.072204
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                visited   No. Observations:               333799
Model:                          Logit   Df Residuals:                   333797
Method:                           MLE   Df Model:                            1
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:               0.0001768
Time:                        16:33:28   Log-Likelihood:                -24102.
converged:                       True   LL-Null:                       -24106.
Covariance Type:            nonrobust   LLR p-value:                  0.003508
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.2369      0.021   -205.219      0.000      -4.277      -4.196
message_2     -0.0871      0.030     -2.918      0.004      -0.146      -0.029
==============================================================================
"""

In [15]:
###TRANSLATIONS#####
df_reg['count']=1

pivot=pd.pivot_table(data=df_reg, index='notification_language', columns='count',aggfunc='sum' )
pivot['open_rate']=pivot['visited']/pivot['message_type']
pivot
#spanish performing particulary bad we ll use it as base

,message_0,message_1,message_2,message_type,visited,open_rate
count,1,1,1,1,1,
notification_language,,,,,,
cn,11219.0,11393.0,11323.0,34039,512,0.015042
de,39814.0,40035.0,40069.0,120173,2036,0.016942
en,54345.0,54975.0,54681.0,164337,2716,0.016527
es,17064.0,16940.0,16959.0,50858,0,0.000000
fr,17139.0,17134.0,17050.0,51234,823,0.016064
ru,26620.0,26578.0,26662.0,79902,297,0.003717

In [16]:
dum_lang = pd.get_dummies(df_reg['notification_language'])
df_reg = pd.merge(df_reg,dum_lang,left_index = True, right_index = True)
df_reg.head()

,notification_browser,notification_datetime,ip_anonymized,notification_language,message_type,webvisit_datetime,visited,message_0,message_1,message_2,count,cn,de,en,es,fr,ru
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,0,0,0,1,1,0,0,0,0,0,1
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,0,1,0,0,1,1,0,0,0,0,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,0,1,0,0,1,0,0,0,0,1,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,0,0,0,1,1,0,0,1,0,0,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,0,0,1,0,1,0,0,1,0,0,0

In [17]:
X=df_reg[df_reg['es']!=1][['cn','de','en','fr']] ### 'ru' is our base thats why we didnt include it. its been performing worst
Y=df_reg[df_reg['es']!=1]['visited']
X= sm.add_constant(X)

model=sm.Logit(Y,X)
results=model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.073444
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                visited   No. Observations:               449037
Model:                          Logit   Df Residuals:                   449032
Method:                           MLE   Df Model:                            4
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:                 0.01530
Time:                        16:33:31   Log-Likelihood:                -32979.
converged:                       True   LL-Null:                       -33492.
Covariance Type:            nonrobust   LLR p-value:                1.341e-220
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -5.5906      0.058    -96.167      0.000      -5.705      -5.477
cn             1.4119      0.073     19.280      0.000       1.268       1.555
de             1.5319      0.062     24.595      0.000       1.410       1.654
en             1.5066      0.061     24.589      0.000       1.386       1.627
fr             1.4738      0.068     21.696      0.000       1.341       1.607
==============================================================================
"""

## BROWSER

In [18]:
#3rd Task

pivot=pd.pivot_table(data=df_reg, index='notification_browser', columns='count',aggfunc='sum' )
pivot['open_rate']=pivot['visited']/pivot['message_type']
pivot

,cn,de,en,es,fr,message_0,message_1,message_2,message_type,ru,visited,open_rate
count,1,1,1,1,1,1,1,1,1,1,1,
notification_browser,,,,,,,,,,,,
chrome,22642.0,79691.0,109510.0,34091.0,34262.0,110890.0,111372.0,111154.0,333680,53220.0,3590,0.010759
firefox,11293.0,40227.0,54491.0,16872.0,17061.0,55311.0,55683.0,55590.0,166863,26640.0,2794,0.016744

In [19]:
dum_brow = pd.get_dummies(df_reg['notification_browser'])
df_reg = pd.merge(df_reg,dum_brow,left_index = True, right_index = True)
df_reg.head()

,notification_browser,notification_datetime,ip_anonymized,notification_language,message_type,webvisit_datetime,visited,message_0,message_1,message_2,count,cn,de,en,es,fr,ru,chrome,firefox
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,0,0,0,1,1,0,0,0,0,0,1,0,1
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,0,1,0,0,1,1,0,0,0,0,0,1,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,0,1,0,0,1,0,0,0,0,1,0,1,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,0,0,0,1,1,0,0,1,0,0,0,1,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,0,0,1,0,1,0,0,1,0,0,0,0,1

In [20]:
X=df_reg[['firefox']]
Y=df_reg['visited']
X= sm.add_constant(X)

model=sm.Logit(Y,X)
results=model.fit()
results.summary()
#

Optimization terminated successfully.
         Current function value: 0.068060
         Iterations 9

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                visited   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499998
Method:                           MLE   Df Model:                            1
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:                0.004458
Time:                        16:33:33   Log-Likelihood:                -34030.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 3.051e-68
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5204      0.017   -269.386      0.000      -4.553      -4.488
firefox        0.4493      0.025     17.683      0.000       0.400       0.499
==============================================================================
"""

In [ ]:
#firefox has a strong postiv impact

In [ ]:
###BONUS QUESTION

In [22]:
all_users = 500000*100

In [23]:
df_reg['installed']=df_reg['visited']*0.5

In [25]:
#brwoser you cant do much about it
#translation es + ru could come to topline of other langusges
df_reg['installed'].sum()*100

319200.0

In [27]:
df_reg['visited'].value_counts()

0    493616
1      6384
Name: visited, dtype: int64