## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [19]:
# Your code here
sample_list_1=(random.sample(range(101), k=80))
print (sample_list_1)

[28, 66, 5, 94, 60, 71, 53, 68, 24, 76, 21, 16, 93, 25, 43, 91, 19, 63, 50, 26, 2, 56, 77, 67, 52, 41, 85, 36, 32, 78, 42, 33, 7, 11, 58, 72, 81, 83, 99, 23, 45, 97, 96, 0, 40, 48, 49, 6, 12, 46, 61, 14, 82, 55, 4, 35, 10, 88, 8, 84, 74, 75, 87, 18, 9, 13, 86, 95, 59, 57, 100, 39, 37, 31, 30, 90, 22, 65, 20, 92]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here
set1=set(sample_list_1)
print("Set1 contains this many elements: ", len(set1))
      
if len(set1) == len(sample_list_1):
    print("---")
    print ("Set1 und sample_list_1 contain the same number of elements. That's odd, right?")
else:
    print ("---")
    print ("Set1 und sample_list_1 do not contain the same number of element" )

Set1 contains this many elements:  80
---
Set1 und sample_list_1 contain the same number of elements. That's odd, right?

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [67]:
# Your code here
sample_list_2=[]
hundred = (range(0, 101))
i=0

for x in range(80):
    i=random.choice(hundred)
    sample_list_2.append(i)

print("Following list got ",len(sample_list_2)," random elements of integers between 0 and 100:")
print("---")
print(sample_list_2)

Following list got  80  random elements of integers between 0 and 100:
---
[44, 72, 88, 27, 84, 46, 50, 83, 83, 81, 14, 26, 95, 76, 85, 1, 25, 31, 9, 68, 11, 92, 35, 50, 6, 56, 30, 91, 1, 70, 5, 56, 22, 24, 80, 70, 80, 44, 50, 28, 88, 82, 9, 26, 29, 1, 16, 77, 17, 83, 69, 76, 6, 47, 3, 15, 95, 40, 6, 70, 53, 50, 4, 20, 95, 40, 44, 63, 46, 30, 75, 28, 93, 79, 12, 14, 84, 88, 73, 99]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [73]:
# Your code here
set2=set(sample_list_2)
print ("---")
print ("Set2 got ",len(set2)," elements")
print ("sample_list_2 got ",len(sample_list_2)," elements")

if len(set2) == len(sample_list_2):
    print("---")
    print ("Set2 und sample_list_2 contain the same number of elements. That's odd, right?")
else:
    print ("---")
    print ("Set2 und sample_list_2 do not contain the same number of element" )

---
Set2 got  52  elements
sample_list_2 got  80  elements
---
Set2 und sample_list_2 do not contain the same number of element

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [80]:
# Your code here
set3=set()
print(type(set3))

for x in set1 :
    if x in set2 :
        continue
    else:
        set3.add(x)
print("---")
print("Set1: ",set1)
print("---")
print("Set2: ",set2)
print("---")
print("Set3: ",set3)

<class 'set'>
---
Set1:  {0, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 71, 72, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
---
Set2:  {1, 3, 4, 5, 6, 9, 11, 12, 14, 15, 16, 17, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 35, 40, 44, 46, 47, 50, 53, 56, 63, 68, 69, 70, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 88, 91, 92, 93, 95, 99}
---
Set3:  {0, 2, 7, 8, 10, 13, 18, 19, 21, 23, 32, 33, 36, 37, 39, 41, 42, 43, 45, 48, 49, 52, 55, 57, 58, 59, 60, 61, 65, 66, 67, 71, 74, 78, 86, 87, 90, 94, 96, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [82]:
# Your code here
set4=set()
print(type(set4))

for x in set2 :
    if x in set1 :
        continue
    else:
        set4.add(x)
print("---")
print("Set1: ",set1)
print("---")
print("Set2: ",set2)
print("---")
print("Set4: ",set4)
print(type(set4))

<class 'set'>
---
Set1:  {0, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 71, 72, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
---
Set2:  {1, 3, 4, 5, 6, 9, 11, 12, 14, 15, 16, 17, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 35, 40, 44, 46, 47, 50, 53, 56, 63, 68, 69, 70, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 88, 91, 92, 93, 95, 99}
---
Set4:  {1, 3, 69, 70, 73, 44, 15, 47, 17, 79, 80, 27, 29}
<class 'set'>

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [100]:
# Your code here
set5=set()

for x in set1 :
    if x in set2 :
        set5.add(x)
        
print("---")
print("Set1: ",set1)
print("---")
print("Set2: ",set2)
print("---")
print("Set5: ",set5)
print("---")
print("Intersection methode: ", set1.intersection(set2))

---
Set1:  {0, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 71, 72, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
---
Set2:  {1, 3, 4, 5, 6, 9, 11, 12, 14, 15, 16, 17, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 35, 40, 44, 46, 47, 50, 53, 56, 63, 68, 69, 70, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 88, 91, 92, 93, 95, 99}
---
Set5:  {4, 5, 6, 9, 11, 12, 14, 16, 20, 22, 24, 25, 26, 28, 30, 31, 35, 40, 46, 50, 53, 56, 63, 68, 72, 75, 76, 77, 81, 82, 83, 84, 85, 88, 91, 92, 93, 95, 99}
---
Intersection methodes:  {4, 5, 6, 9, 11, 12, 14, 16, 20, 22, 24, 25, 26, 28, 30, 31, 35, 40, 46, 50, 53, 56, 63, 68, 72, 75, 76, 77, 81, 82, 83, 84, 85, 88, 91, 92, 93, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [88]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [92]:
# Your code here
set6.update(set3,set5)
print(len(set3))
print(len(set5))
print(len(set6))

41
39
80

#### Check if `set1` and `set6` are equal.

In [103]:
# Your code here
missing=[]

for x in set1:
    if x in set6:
        continue
    else:
        missing.append(x)
print("diese werte aus set1 sind nicht in set6:")
print(missing)

print("isdisjoint Methode: ",set1.isdisjoint(set6))

diese werte aus set1 sind nicht in set6:
[]
isdisjoint Methode:  False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [116]:
# Your code here
print("Set2 is a subset of set1: ", set2.issubset(set1))
print("Set3 is a subset of set1: ", set3.issubset(set1))
print("---")
print("set1 ",set1)
print("---")
print("set2 ",set2)
print("---")
print("set3 ",set3)

Set2 is a subset of set1:  False
Set3 is a subset of set1:  True
---
set1  {0, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 71, 72, 74, 75, 76, 77, 78, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
---
set2  {1, 3, 4, 5, 6, 9, 11, 12, 14, 15, 16, 17, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 35, 40, 44, 46, 47, 50, 53, 56, 63, 68, 69, 70, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 88, 91, 92, 93, 95, 99}
---
set3  {0, 2, 7, 8, 10, 13, 18, 19, 21, 23, 32, 33, 36, 37, 39, 41, 42, 43, 45, 48, 49, 52, 55, 57, 58, 59, 60, 61, 65, 66, 67, 71, 74, 78, 86, 87, 90, 94, 96, 97, 100}

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [120]:
# Your code here
set_3_4_5=set.union(set3,set4,set5)
set_1_2=set.union(set1,set2)

print("set_3_4_5 differs from set_1_2: ", set_3_4_5.isdisjoint(set_1_2))
print("---")
print("set_3_4_5: ",set_3_4_5)
print("---")
print("set_1_2: ",set_1_2)

set_3_4_5 differs from set_1_2:  False
---
set_3_4_5:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
---
set_1_2:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [127]:
# Your code here

print("SET1 BEFORE THE START: ",set1)
print("SET1 LENGTH: ", len(set1))
print("---")
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
set1.difference_update(set_to_remove)
print("---")
print("SET1 AFTER DIFFERENCE UPDATE: ",set1)
print("SET1 LENGTH: ", len(set1))

SET1 BEFORE THE START:  {0, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 35, 36, 37, 40, 42, 43, 45, 46, 48, 50, 52, 53, 55, 56, 57, 58, 60, 63, 65, 66, 67, 68, 72, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 100}
SET1 LENGTH:  66
---
---
SET1 AFTER DIFFERENCE UPDATE:  {0, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 35, 36, 37, 40, 42, 43, 45, 46, 48, 50, 52, 53, 55, 56, 57, 58, 60, 63, 65, 66, 67, 68, 72, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 100}
SET1 LENGTH:  66